# Ignore .vs
.vs

# But keep custom packages and models
!/metadata/test111
metadata/test111/bin/
metadata/test111/resources/
metadata/test111/XppMetadata/
metadata/test111/BPCheck.xml
metadata/test111/BuildModelResult.xml
metadata/test111/BuildModelResult.log
metadata/test111/BuildProjectResult.err.xml
metadata/test111/BuildProjectResult.xml
metadata/test111/CompileLabels.xml
metadata/test111/*.xref
metadata/test111/*.$usr

!/metadata/test222
metadata/test222/bin/
metadata/test222/resources/
metadata/test222/XppMetadata/
metadata/test222/BPCheck.xml
metadata/test222/BuildModelResult.xml
metadata/test222/BuildModelResult.log
metadata/test222/BuildProjectResult.err.xml
metadata/test222/BuildProjectResult.xml
metadata/test222/CompileLabels.xml
metadata/test222/*.xref
metadata/test222/*.$usr

!/metadata/test333
metadata/test333/bin/
metadata/test333/resources/
metadata/test333/XppMetadata/
metadata/test333/BPCheck.xml
metadata/test333/BuildModelResult.xml
metadata/test333/BuildModelResult.log
metadata/test333/BuildProjectResult.err.xml
metadata/test333/BuildProjectResult.xml
metadata/test333/CompileLabels.xml
metadata/test333/*.xref
metadata/test333/*.$usr

!.gitignore
!registerSymbolicLink.ps1
!unregisterSymbolicLink.ps1